<!DOCTYPE html>
<html>
  <head>
    <title>AppClone</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>

    <script type="text/javascript">
      window.logo = "<%= image_url('redlogo.png') %>"
      window.logo1 = "<%= image_url('redlogo-1.png') %>"
      window.fpImage = "<%= image_url('movies-background.jpg') %>"
      window.icon = "<%= image_url('profile-icon.png') %>" 
    </script>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
